.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 7px;
    .icon {
        position: absolute;
        font-size: 1.6rem;
        display: block;
        .anticon-login {
            padding: 0px !important ;
        }
        left: -20px;
    }
    Button {
        font-weight: bold;
        padding-left: 0 !important ;
        background-color: transparent;
        border: transparent;
    }
}
